# Ignore everything by default
*

!.gitignore
!README.md
!/scripts/
!/scripts/**

!/fish/
!/fish/functions
!/fish/config.fish

!/kitty/
!/kitty/kitty.conf
!/kitty/dark-theme.conf
!/kitty/latte-theme.conf

!/nvim/
!/nvim/**
